@model List<Tool>

@{
    ViewData["Title"] = "Tools";
}

<h1>@ViewData["Title"]</h1>


<div class="mb-3 text-right">
    <a class="btn btn-primary" asp-controller="Tools" asp-action="Create">Create Tool</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name Tool</th>
            <th scope="col">Name Category</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tool tools in Model)
        {
            <tr>
                <th scope="row">@tools.ToolID</th>
                <td>@tools.Name</td>
                <td>@tools.Category.Name</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Tools" asp-action="Edit" asp-route-id="@tools.ToolID">Edit</a>
                    <a class="btn btn-info" asp-controller="Tools" asp-action="Details" asp-route-id="@tools.ToolID">Details</a>
                    <form method="post" action="/Tools/DeletePost/@tools.ToolID" class="form-inline">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>